body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat"; 
}

.square {
	width: 30%;
	background-color: skyblue;
	padding-bottom: 30%;
	float: left;
	margin: 1.666%;
	border-radius: 15%;
	transition: background 0.5s;
}
#container {
	margin: 0 auto;
	max-width: 600px; 
}
h1 {
	text-align: center;
	background-color: steelblue;
	margin: 0 auto;
	line-height: 1.1;
	padding: 20px 0;
	color: white;
	font-weight: normal;
	text-transform: uppercase;
}
#menu {
	height: 30px;
	text-align: center;
	background-color: white;
	
}
#hard {
	background-color: skyblue;
}
#colorDisplay {
	font-size: 150%;
}
button {
	border: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	font-size: inherit;
	transition: 0.5s;s
}
#messege {
	display: inline-block;
	width: 20%;
}
button:hover {
	background: steelblue;
	color: black;
}